/* Make the background gray */
body {
  background-color: #646464;
}


.chessboard {
    width: 400px;
    height: 400px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: orangered;
    font-family: sans-serif;

    /* Center the board on the page*/
    margin: 0 auto;

    /* Make the board centered vertically */
    margin-top: 100px;
}